@tailwind base;
@tailwind components;
@tailwind utilities;

/*  slate-50 | zinc-950 */
/* slate-100 | zinc-900 */
/* slate-200 | zinc-800 */
/* slate-300 | zinc-700 */
/* slate-400 | zinc-600 */
/* slate-500 | zinc-500 */
/* slate-600 | zinc-400 */
/* slate-700 | zinc-300 */
/* slate-800 | zinc-200 */
/* slate-900 | zinc-100 */
/* slate-950 | zinc-50 */

html, body {
    height: 100%;
    width: 100%;
}

body {
    @apply bg-white text-slate-900;
    @apply dark:bg-black dark:text-zinc-50;
}

a, .a {
    @apply cursor-pointer;
    @apply text-slate-600 hover:text-slate-700;
    @apply text-zinc-400 dark:hover:text-zinc-300;
}

label {
    @apply block text-sm font-medium leading-6;
    @apply text-slate-900;
    @apply dark:text-zinc-100;
}

input[type=text] {
    @apply block w-full rounded-md shadow-sm sm:text-sm;
    @apply border-slate-300 focus:border-slate-500 focus:ring-slate-500;
    @apply dark:bg-black dark:border-zinc-700 dark:focus:border-zinc-500 dark:focus:ring-zinc-500;
}

select {
    @apply block w-full rounded-md border-0 py-1.5 pl-3 pr-10 ring-1 ring-inset focus:ring-2 sm:text-sm sm:leading-6;
    @apply text-slate-900 ring-slate-300 focus:ring-slate-600;
    @apply dark:text-zinc-900 dark:ring-zinc-700 dark:focus:ring-zinc-600;
}

.btn {
    @apply rounded-md px-2 py-1.5 text-sm font-semibold shadow-sm;
    @apply disabled:opacity-40 transition duration-75 ease-in-out;
}

.btn i {
    @apply pointer-events-none;
}

.btn.tool {
    @apply w-full sm:w-auto px-2 py-1 text-lg;
}

.btn.primary {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
    @apply bg-slate-600 text-white focus-visible:outline-slate-600;
    @apply dark:bg-zinc-300 dark:text-black dark:focus-visible:outline-zinc-300;
}

.btn.primary:not(:disabled) {
    @apply hover:bg-slate-500;
    @apply dark:hover:bg-zinc-400;
}

.btn.primary.record {
    @apply bg-red-600 text-white enabled:hover:bg-red-500 focus-visible:outline-red-600;
}

.btn.primary.play {
    @apply bg-green-600 text-white enabled:hover:bg-green-500 focus-visible:outline-green-600;
}

.btn.primary.stop {
    @apply bg-blue-600 text-white enabled:hover:bg-blue-500 focus-visible:outline-blue-600;
}

.btn.secondary {
    @apply ring-1 ring-inset;
    @apply bg-white text-slate-900 enabled:hover:bg-slate-100 ring-slate-300;
    @apply dark:bg-transparent dark:text-zinc-400 dark:enabled:hover:text-zinc-300 dark:enabled:hover:bg-zinc-900 dark:ring-zinc-500;
}

.btn.secondary:disabled {
    @apply opacity-50;
}

.btn.connected {
    @apply ring-2 ring-inset ring-green-500 dark:ring-lime-500;
}

#app {
    width: 100%;
    min-height: 100%;
}

#logo {
    color: #666;
}

#menu-bar {
    @apply bg-white dark:bg-black;
}

#tool-bar {
    @apply bg-slate-200 dark:bg-zinc-800;
}

#progress-bar {
    @apply fixed inset-x-0 h-1;
    @apply bg-slate-200 dark:bg-zinc-900;
}

#editor, #list-all-editor {
    @apply bg-slate-100 dark:bg-zinc-900;
}

@screen md {
    #editor {
        overflow: auto;
    }
}

#direct-bar {
    @apply bg-slate-100 dark:bg-zinc-900;
}

#side-bar {
    @apply overflow-y-auto;
    @apply bg-slate-100 dark:bg-zinc-900;
}

.panel-bar {
    @apply bg-slate-200 dark:bg-zinc-700;
}
.panel-content {
    @apply bg-white dark:bg-zinc-800;
}

#spacer {
    @apply h-8 bg-slate-100 dark:bg-zinc-900;
}

#footer {
    @apply bg-slate-200 text-slate-400;
    @apply dark:bg-zinc-800 dark:text-zinc-600;
}

#footer a {
    @apply text-slate-400 hover:text-slate-500;
    @apply dark:text-zinc-600 dark:hover:text-zinc-500;
}

.ol-reset {
    @apply list-decimal pl-4;
}

.ul-reset {
    @apply list-disc pl-4;
}

.ul-reset li, .ol-reset li {
    @apply mb-0;
}

.firmware-progress-box {
    @apply h-[68px] flex items-center;
}

kbd {
    @apply font-mono font-bold px-2 py-0.5 rounded;
    @apply bg-slate-200 text-slate-600;
    @apply dark:bg-zinc-700 dark:text-zinc-300;
}

li {
    line-height: 1.2; /* A unitless value (1.5 times the font size) is recommended for consistency */
}

ol li {
  padding: 5px;
  margin-left: 30px;
}

ol {
  padding: 5px;
}