@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
}

body {
    @apply bg-slate-50 text-slate-900;
    @apply dark:bg-zinc-900 dark:text-zinc-50;
}

a, .a {
    @apply cursor-pointer;
    @apply text-slate-500 hover:text-slate-600;
    @apply text-zinc-400 dark:hover:text-zinc-300;
}

#app {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 100%;
    grid-template-rows: 32px 48px 40px 8px 480px auto auto auto;
    grid-template-areas:
    "menu-bar"
    "tool-bar"
    "tab-bar"
    "progress-bar"
    "editor"
    "direct-panel"
    "side-panel"
    "footer";
}

@screen md {
    #app {
        grid-template-columns: auto 300px;
        grid-template-rows: 48px 48px 2.5rem 8px auto auto 64px 64px;
        grid-template-areas:
        "menu-bar menu-bar"
        "tool-bar tool-bar"
        "tab-bar side-panel"
        "progress-bar side-panel"
        "editor side-panel"
        "editor side-panel"
        "direct-panel side-panel"
        "footer footer";
    }
}

#menu-bar {
    grid-area: menu-bar;
    @apply bg-white dark:bg-zinc-900;
}

#tool-bar {
    grid-area: tool-bar;
    @apply bg-slate-200 dark:bg-zinc-800;
}

#tab-bar {
    grid-area: tab-bar;
    @apply bg-slate-200 dark:bg-zinc-800;
    @apply overflow-hidden;
}

#progress-bar {
    grid-area: progress-bar;
    @apply bg-slate-200 dark:bg-zinc-800;
}

#editor {
    grid-area: editor;
    @apply bg-slate-200 dark:bg-zinc-800;
}

@screen md {
    #editor {
        overflow: auto;
    }
}

#direct-panel {
    grid-area: direct-panel;
    @apply pl-[42px] pr-2 flex items-center space-x-2;
    @apply bg-slate-200 dark:bg-zinc-800;
}

#side-panel {
    grid-area: side-panel;
    @apply bg-slate-200 dark:bg-zinc-800;
    @apply overflow-y-auto;
}

#footer {
    grid-area: footer;
    @apply bg-slate-200 text-slate-500;
    @apply dark:bg-zinc-800 dark:text-zinc-500;
}

#footer a {
    @apply text-slate-500 hover:text-slate-600;
    @apply dark:text-zinc-500 dark:hover:text-zinc-400;
}

#logo {
    @apply text-slate-900;
    @apply dark:text-white;
}

#info-bar {
    @apply flex justify-between;
    @apply text-slate-600;
    @apply dark:text-zinc-400;
}

input[type=text] {
    @apply outline-0 px-2.5 py-1;
    @apply bg-white text-slate-900;
    @apply dark:bg-zinc-950 dark:text-white;
}

input[type=text]::placeholder {
    @apply text-slate-400 dark:text-zinc-700 opacity-100;
}

input[type=text]:-ms-input-placeholder {
    @apply text-slate-400 dark:text-zinc-700;
}

input[type=text]::-ms-input-placeholder {
    @apply text-slate-400 dark:text-zinc-700;
}

button, .btn {
    @apply outline-0 px-2.5 py-1 rounded transition ease-in-out duration-75;
    @apply bg-slate-300 text-slate-900;
    @apply dark:bg-zinc-700 dark:text-zinc-300;
}

button:not(:disabled), .btn:not(:disabled) {
    @apply hover:bg-slate-400 hover:bg-opacity-50;
    @apply dark:hover:bg-zinc-600;
}

button:disabled, .btn:disabled {
    @apply opacity-40;
}

.btn.connected {
    @apply bg-green-300 text-green-900;
    @apply dark:bg-emerald-700 dark:text-emerald-100;
}

.btn.connected:hover {
    @apply bg-green-400;
    @apply dark:bg-emerald-600;
}